<div data-ng-controller="homeCtrl as hctrl">
    <div class="container-fluid" style="color:white;">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align:center; padding-bottom:30px;">{{hctrl.turnier.title}}</h2>
            </div>
        </div>
        <div ng-repeat="item in hctrl.turnier.winners">
            <div ng-class="item.place == '1' ? 'gr-first' : item.place == '2' ? 'gr-second' : 'gr-third'" class="row eintrag" style="background-color:black">
                <div>
                    <div class="reihe">
                        <div class="col-md-1 medal">
                            <img class="img-responsive" ng-src="{{item.place == '1' ? 'uploads/1st.png' : item.place == '2' ? 'uploads/2nd.png' : 'uploads/3rd.png' }}"/>
                        </div>
                        <div style="margin-top:-25px;" class="col-md-11">
                            <h3>{{item.name}}</h3>
                            <div class="col-md-1">
                                <img class="img-responsive" ng-src="uploads{{item.nation}}" />
                            </div>
                            <div class="col-md-11">
                                <h4>{{item.club}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>