@font-face {
    font-family: "PreloSlab-Light";
    src: url("/assets/fonts/Prelo-Slab/PreloSlab-Light.otf");
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'Alegreya Sans', sans-serif;*/
    font-size: 13pt;
    background-image: url("/uploads/bgimg.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PreloSlab-Light", 'Raleway', sans-serif;
}

h1{
    font-size:60pt;
    font-weight:bold;
    text-transform:uppercase;
}
h2{
    font-size:40pt;
    font-weight:bold;

}
h3{
    font-size:35pt;
    font-weight:bold;
}
h4{
    font-size:20pt;
}

.eintrag {
    border: 1px solid;
    padding:5px;
    background-attachment:fixed;
    
}
.eintrag + .eintrag {
    border-top:0 ;
}
.gr-first{

    background: -webkit-linear-gradient(left, rgb(218,165,32) 0%, rgba(222,222,222,0) 60%, rgba(222,222,222,0) 80%, rgba(222,222,222,1) 100%); 
}
.gr-second{

    background: -webkit-linear-gradient(left, rgb(192, 192, 192) 0%, rgba(222,222,222,0) 60%, rgba(222,222,222,0) 80%, rgba(222,222,222,1) 100%); 
}
.gr-third{

    background: -webkit-linear-gradient(left, rgb(205,127,50) 0%, rgba(222,222,222,0) 60%, rgba(222,222,222,0) 80%, rgba(222,222,222,1) 100%); 

}

.reihe{
    padding-left:200px;
}
.medal{
    padding-top:25px;
}